<form method="post" onsubmit="return false" class="form-horizontal centered">
    <div class="control-group">
        <label><h4>Username</h4></label>
        <div class="controls">
            <input type="text" name="username" class="form-control" required>
        </div>
    </div>
    <div class="control-group">
        <label><h4>Password</h4></label>
        <div class="controls">
            <input type="password" name="password" class="form-control" required>
        </div>
        <hr class="custom-hr">
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary"><i></i>Sign In</button>
    </div>
    <span class="m-v-10"><a href="/#signup">Create An Account</a></span>
    <span class="notifier"></span>
</form>
